/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
  padding: 6.25rem 0;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 20rem;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--primary-weight);
}

.wrap {
  width: 100%;
  border: 0.125rem solid var(--accent-color);
  background-color: var(--bg-color);
  max-inline-size: 43.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 6.25rem;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vi, 8.5rem);
  padding-block-end: 1.5625rem;
  font-family: var(--accent-font);
  font-weight: var(--primary-weight);
}

.header__logo {
  margin-block-end: 1.25rem;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vi, 4.0625rem);
  line-height: 1;
  text-decoration: none;
}

.header__title {
  margin-block-end: 1.5625rem;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vi, 1.4375rem);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-inline-start: 1.25rem;
  font-size: 0.875rem;
  line-height: 1;
}

.theme-menu__button {
  position: relative;
  border: 0.0625rem solid transparent;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-block-start: 0;
  inset-inline-start: -0.75rem;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left bottom;
  block-size: 0.125rem;
  inline-size: calc(100% - 0.75rem);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-block-end: 3.125rem;
}

.card__title {
  border-bottom: 0.125rem solid var(--accent-color);
  padding: 0.1875rem 0.6875rem;
  font-size: 1.125rem;
  line-height: 1.39;
  font-variation-settings: "wght" var(--title-weight);
}

.card__image-wrap {
  position: relative;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  inline-size: 100%;
  block-size: 100%;
}

.card__decoration-label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 1;
  text-shadow: -0.0625rem 0 var(--bg-color), 0 0.0625rem var(--bg-color),
    0.0625rem 0 var(--bg-color), 0 -0.0625rem var(--bg-color);
  inset-block-start: 1.5625rem;
  inset-inline-end: 1.5625rem;
  mix-blend-mode: hard-light;
}

.card__decoration-label_transform_uppercase {
  text-transform: uppercase;
}

@supports (
  (text-stroke: var(--text-stroke)) or (-webkit-text-stroke: var(--text-stroke))
) {
  .card__decoration-label {
    text-shadow: none;
    -webkit-text-stroke: 0.0625rem var(--bg-color);
    text-stroke: 0.0625rem var(--bg-color);
  }
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
  border-top: 0.125rem solid var(--accent-color);
  padding: 1.5625rem;
}

.card__info-text {
  line-height: 1.17;
}

.card__actions {
  display: flex;
  justify-content: end;
  gap: 0.3125rem;
  padding: 0 1.5625rem 1.5625rem;
}

.card__icon-button {
  border: 0.125rem solid transparent;
  padding: 0;
  background: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  block-size: 2.375rem;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 0.125rem solid var(--accent-color);
}

.card__like-button {
  border: 0.125rem solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 0.9;
  text-align: center;
  background-color: inherit;
  min-inline-size: 8.125rem;
  min-block-size: 2.375rem;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 0.125rem 0.125rem 0 0 var(--accent-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--btn-hover-color);
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: translateX(0);
}

.content-section__memory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  max-width: 43.75rem;
  margin: 0 auto;
  padding: 0 2.1563rem;
}

.memory-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.4375rem;
  border: 0.125rem solid var(--accent-color);
  padding: 0.625rem 1.125rem;
  color: var(--btn-hover-color);
  /* background-color: var(--bg-color); */
}

.memory-button__icon {
  z-index: 1;
  mix-blend-mode: difference;
}

.memory-button__text {
  padding-inline-start: 0.5rem;
  font-family: var(--accent-font);
  font-size: 0.875rem;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  max-width: 22.0625rem;
  border: 0.125rem solid var(--accent-color);
  padding: 1.875rem;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.dialog__image {
  fill: var(--accent-color);
  max-block-size: 2.4375rem;
  min-inline-size: 2.4375rem;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  border: 0.125rem solid var(--accent-color);
  padding: 0.625rem;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  text-transform: uppercase;
  min-block-size: 2.375rem;
}

.hue-rotate {
  filter: hue-rotate(50deg);
}

.opacity {
  filter: opacity(0.5);
}

.brightness {
  filter: brightness(119%) hue-rotate(262deg);
}

.gray-scale {
  filter: grayscale(0.6);
}

.saturate {
  filter: saturate(450%);
}

.sepia {
  filter: sepia(1);
}

.blur {
  filter: blur(1.25rem);
}

@media (width <= 35.9375rem) {
  .card__decoration-label {
    inset-inline-end: 0.8125rem;
  }

  .card__info {
    padding: 1.5625rem 1.6875rem;
  }

  .memory-button {
    flex-direction: column;
    gap: 0.5rem;
  }

  .memory-button__icon {
    max-block-size: 1.75rem;
    min-inline-size: 1.75rem;
  }

  .dialog[open] {
    max-width: 21.3125rem;
    padding-inline: 2.5rem;
  }
}

@media (width < 23.4375rem) {
  .header__logo {
    font-size: 2.5rem;
  }
}
